mixin elemTab(index, elems, mq)
	ul(submenu='_'+index)
		//- generating tabs_headers for submenus
		- var idAr = [];
			each val,i in elems
				li
					- 
						var uniqId = '_'+Math.floor(Math.random()*100000)+'_';					
						idAr.push(uniqId);
					a(href='#'+uniqId+i)= val
	//- generating tabs_contents for submenus 
	// (it's the same loop as above, running twice for correct DOM ordering)				
	each val,i in elems
		- var el = val;
		div(id=idAr[i]+i elemrule=el)
			each val in data.textProps
				div.controllerItem(type=val[1] prop=val[0] mediaQuery=mq elemrule=el)
					span=val[0]

link(rel="stylesheet" type="text/css" href="tabby-master/dist/css/tabby-ui.min.css")
link(rel="stylesheet" type="text/css" href="style/controller.css")
div.controllerWindow
	// might need to put names in bp object, pull the names from that;
	ul(data-tabs)
		each val,i in data.bp.index
			- var mq = data.bp.indexed[i];
			- var id = mq == "@media" ? 'global' : 'breakPoint'+i;
			- var name = mq == "@media" ? 'global' : 'break point '+i;
			li(mediaquery=mq) 
				a(href='#'+id)=name
				div(data-tabref=id class='close')
	each val,i in data.bp.index
		- var mq = data.bp.indexed[i];
		- var id = mq === "@media" ? 'global' : 'breakPoint'+i;
		div(id=id class='breakPoint' mediaquery=mq)
			if data.bp.index[i].min&&data.bp.index[i].max
				h2=data.bp.index[i].min+' - '+data.bp.index[i].max
			else if data.bp.index[i].min||data.bp.index[i].max
				h2=data.bp.index[i].min?data.bp.index[i].min:''+data.bp.index[i].max?data.bp.index[i].max:''
			else
				h2='global'

			+elemTab(i, Object.keys(data.elemRules), data.bp.indexed[i])

//- script.
//- 	//- const tabs = new Tabby('[data-tabs]');
//- 	const l = parseInt('#{data.bp.index.length}');
//- 	let submenus = [];
//- 	for (i=0;i<l;i++){
//- 		submenus.push(new Tabby(`[submenu=_${i}]`));		
//- 		}			