extends layout

block layout-content
	div.view
		div.header
			h1 #{loremSen(1)}		 
			h2 #{loremSen(1)}
			h3 #{loremSen(1)}
		div.pWrapper
			p #{loremPar(2)}
			p #{loremPar(6)}
			p #{loremPar(12)}
		button.mock test
		button.mock test
		button.mock test
		button.mock test
	button.edit EDIT
		